@charset "utf-8";
/* CSS Document */
  
	body {
		padding-top: 40px;
  	}

  	.footer {
		padding-top: 30px;
		padding-bottom: 30px;
		margin-top: 30px;
		border-top: 1px solid #eee;
	}

	.nav-justified > .active > a,
	.nav-justified > .active > a:hover,
	.nav-justified > .active > a:focus {
    	background-color: LightGray;
	}
	
	.nav-justified > li > a {
    	border-radius: 5px 5px 5px 5px;
	}

	.logo {
		padding-top: 6px;
		border-radius: 5px 5px 5px 5px;
	}

	.nav-justified > li > a {
		padding-top: 15px;
		padding-bottom: 15px;
		margin-bottom: 0;
		font-weight: bold;
		color: #777;
		text-align: center;
	}

	.nav-justified .glyphicon-shopping-cart {
		color: OrangeRed;
		background-color: #fff; 
	}